@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Roboto", sans-serif;
}

.navbar{ background:#000000;}

.nav-link , .navbar-brand{ color: #ffffff; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #201f1f; color: green; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}


.header{
    
    background-color: #201f1f;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(45, 42, 42, 0);
   }

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.header-image{
    float: right;
}
.description h1{
    color: rgb(255, 255, 255) ;
    font-size: 50px;
}
.description p{
    color:rgb(228, 228, 228);
    font-size: 15px;
    line-height: 1.5;
    width: 50%;
}
.description h2{
    font-family: 'Pacifico', cursive;;
    color: green;
}
.description button{
 border:1px  solid green;
 background:green;
 color:#fff;
}
.about{
    margin: 4em 0;
    padding: 2em;
    position: relative;
    background-color: #211919;
}
.about h1{
    color:green;
    margin: 2em;
}
.about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
}
.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}
.about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
}
.about .desc h3{
    color: green;
}
.about .desc p{
    line-height:2;
    color:#888;
}

/*Portfolio*/
.portfolio{
    margin: 4em 0;
    position: relative; 
    background-color: #201f1f;
    padding-top: 2em;
    padding-bottom: 4em;
   }
.portfolio h1{
    color:green;
    margin: 2em; 
   }
.portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
     
   }

.skills{
    background-color: #211919;
    position: relative;
    padding-top: 2em;
    margin: 4em 0;
}
.skills p{
    color: white;
    text-align: center;
    margin: 2em;
}

.page-footer{
    margin: 4em 0;
    padding: 2em;
    position: relative;
    background-color: #211919;
    align-content: center;
}

.page-footer button{
    border:1px  solid green;
    background:green;
    color:#fff;
}

.contact{
    margin: 4em 0;
    padding: 2em;
    position: relative;
    background-color: #211919;
    color: white;
}

.contact h1{
    color:green;
   }